.containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.containerCenter h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.formStyles{
    max-width: 550px;
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.3rem;
    margin-top: 0.3rem;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(128, 128, 128, 0.5);
    overflow: auto;
    background-color: var(--white);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label, .bonusContainer p{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
}


.bonusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonusItems{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    width: 80%;
    flex-wrap: wrap;
}

.botaoFecharStyle {
    background-color: rgba(255, 0, 0, 1);
    border:none;
    padding: 0.3rem 0.8rem;
    color: white;
    font-weight: bold;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px 2px rgba(102, 0, 0, 0.7);
}

.botaoFecharStyle:hover {
    background-color: rgba(255, 0, 0, 0.7);
    
}
.resultadosStyle{
    max-width: 550px;
    min-width: 300px;
    width: 100%;
    margin-top: 0.3rem;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(128, 128, 128, 0.5);
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--white);
}