.containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formStyles {
    max-width: 550px;
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 0.3rem;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(128, 128, 128, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label, .bonusContainer p{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
}



.bonusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonusItems{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    width: 80%;
    flex-wrap: wrap;
}