.bonusStyles {
    width: 60px;
    height: 60px;
    border-radius: 0.5rem;
    border: 0.2px solid gray;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.5);
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.bonusStyles p {
    margin-bottom: 0;
}

.bonusStyles:hover {
    color: white;
    background-color: rgb(14, 129, 10);
}

.bonusStyles.selected {
    background-color: black;
    color: white;
}
