.bonusStyles {
    width: 60px;
    height: 60px;
    border: 0.2rem solid gray;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bonusStyles:hover {
    background-color: black;
    color: white;
}

.bonusStyles.selected {
    background-color: #1b1d20;
    color: white;
}
