.resultadoStyle {
    border-radius: 0.5rem;
    border: 0.3rem solid;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

span {
    font-weight: bold;
}